@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
    --green-1:#1a4331;
    --green-2:#41916c;
    --green-3:#2c664e;
    --light:#fff;
    --dark:#111;
    --most-used-em: 1em;
    --frequent-font-size: 1.5em;






}


.logo-icon{
  width: 3.5em;
}
.navbar{
  background-color: var(--green-1);
  opacity: 85%;
}
.navbar a{
  color: var(--light);
  padding: var(--most-used-em);
}


.navbar a:visited{
  color: var(--light);
}
.navbar a:hover{
  color: var(--green-2);
}



li > a::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;
  
}

li > a:hover::after, li > a.active-nav::after {
  width: 100%;
  background: var(--light);
}
.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
color: transparent;}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--light);
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

/* Color of 3 lines */

.navbar-toggler.collapsed .toggler-icon {
  background: var(--light);
}


header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  width: 50px;
  background-color: var(--light);
  margin-top: 1em;
}

.showcase
{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--green-2);
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
}
.hero-text
{
  position: relative;
  z-index: 10;
}

.hero-text h3
{
  font-size: 2.5em;
  font-weight: 800;
  color: var(--light);
  line-height: var(--most-used-em);
  text-transform: uppercase;
}
.hero-text h4
{
  font-size: 2em;
  font-weight: 700;
  color: var(--light);
  line-height: var(--most-used-em);
  text-transform: uppercase;
}
.hero-text p
{
  font-size: 1.1em;
  color: var(--light);
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

@media (max-width: 768px){
  .hero-text h3{
      font-size: 1.6em;

}
.hero-text h4{
  font-size: 1.7em;
}



}
.hero-text a
{
  display: inline-block;
  font-size: var(--most-used-em);
  background: var(--green-2);
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: var(--light);
  letter-spacing: 2px;
  transition: 0.2s;
}
.hero-text a:hover
{
  background-color: var(--green-3);
  color: var(--light);
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: var(--dark);
}
.menu ul li a:hover
{
  color: var(--green-3); 
}

#subjects-section{
    background-color: var(--green-1);
}


@media (min-width: 991px) {
  #subjects-section{
    height: 60em;
  }
}

.subjects p{
  font-size: 1em;
  color: var(--light);
  text-align: center;
  padding: 0.5em;
}

.section-title{
color: var(--light);
text-align: center;
font-size: 3em;
padding: var(--most-used-em);
background-color: var(--green-3);
}
.section-title h1{
    font-size: var(--most-used-em);
    }
.subjects h2{
    color: var(--light);
    text-align: center;
    padding: var(--most-used-em);
}

.subjects {  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "subject-1 subject-2 subject-3";
      padding: var(--most-used-em);
  }
  
  .subject-1 {
    justify-self: center;
    align-self: center;
    grid-area: subject-1;
    padding: var(--most-used-em);
  }
  
  .subject-2 {
    justify-self: center;
    align-self: center;
    grid-area: subject-2;
    padding: var(--most-used-em);

  }
  
  .subject-3 {
    justify-self: center;
    align-self: center;
    grid-area: subject-3;
    padding: var(--most-used-em);

  }



  @media (max-width: 768px){
    .subjects{
        display: flex;
        flex-direction: column;
        max-width: 100vw;
    }

}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}
#about{
    display: flex;
    flex-direction: row;
    padding: var(--most-used-em);
    background-color: var(--green-3);
}
.kibera-1{
    width: 500px;
    height: 281px;
    transition: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(media/kibera-1.png);
    background-position: center;
    background-size: cover;
}

.kibera-1 h3{
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
    color: var(--light);
    padding: var(--most-used-em);
    font-size: var(--frequent-font-size);
}

.kibera-1:hover{
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.kibera-1:hover h3{
    opacity: 1;
    transform: scale(1);
}


.kibera-2{
    width: 500px;
    height: 281px;
    transition: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(media/kibera-2.png);
    background-position: center;
    background-size: cover;
}

.kibera-2 h3{
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
    color: var(--light);
    padding: var(--most-used-em);
    font-size: var(--frequent-font-size);
}

.kibera-2:hover{
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.kibera-2:hover h3{
    opacity: 1;
    transform: scale(1);
}


.kibera-3{
    width: 500px;
    height: 281px;
    transition: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(media/kibera-3.jpg);
    background-position: center;
    background-size: cover;
}

.kibera-3 h3{
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
    color: var(--light);
    padding: var(--most-used-em);
    font-size: var(--frequent-font-size);
}

.kibera-3:hover{
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.kibera-3:hover h3{
    opacity: 1;
    transform: scale(1);
}


.kibera-4{
    width: 500px;
    height: 281px;
    transition: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(media/kibera-4.jpg);
    background-position: center;
    background-size: cover;
}

.kibera-4 h3{
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
    color: var(--light);
    padding: var(--most-used-em);
    font-size: var(--frequent-font-size);
}

.kibera-4:hover{
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.kibera-4:hover h3{
    opacity: 1;
    transform: scale(1);
}

#visit{
  background-color: var(--green-1);
}

#visit a
{
  display: inline-block;
  font-size: 0.5em;
  background: var(--green-2);
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: var(--light);
  letter-spacing: 2px;
  transition: 0.2s;
}
#visit a:focus
{
  background-color: var(--green-2);
  color: var(--light);
}

#visit a:active{
  background-color: var(--green-2);
}


@media (max-width: 768px){
    #about{
        display: flex;
        flex-direction: column;
        align-items: center;

}

.kibera-1, .kibera-2, .kibera-3, .kibera-4{
    max-width: 95vw;
}

}

.founder-grid {  display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      "leonard-photo leonard-bio";
      padding: var(--most-used-em);
      background-color: var(--green-1);

  }
  
  .team-photo {
    justify-self: center;
    align-self: center;
    grid-area: leonard-photo;
    padding: var(--most-used-em);
  }
  
  .team-bio {
    justify-self: center;
    align-self: center;
    grid-area: leonard-bio;
    text-align: center;
    color: var(--light);
    padding: 5em;
    font-size: var(--frequent-font-size);
  }
  @media (max-width: 768px){
    .founder-grid{
        display: flex;
        flex-direction: column;
        align-items: center;

}

.team-bio{
    padding: var(--most-used-em);
    
}

  }

  #fundraising a
  {
    display: inline-block;
    font-size: 0.5em;
    background: var(--green-2);
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: var(--light);
    letter-spacing: 2px;
    transition: 0.2s;
  }
  #fundraising a:focus
  {
    background-color: var(--green-1);
    color: var(--light);
  }

  #fundraising a:active{
    background-color: var(--green-1);
  }



  .section-title-contact{
    color: var(--light);
    text-align: center;
    font-size: 3em;
    padding: var(--most-used-em);
    background-color: var(--green-1);
    }

  .contact-container {  display: flex;
flex-direction: column;
align-items: center;
background-color: var(--green-1);
padding: var(--most-used-em);
}

.contact-container h3{
  color: var(--light);
  text-align: center;
}

.contact-img{
  width: 100px;
  padding: var(--most-used-em);
}

.podcast-img, .email-img{
  width: 150px;
  padding: var(--most-used-em);
}

.newsletter{
  padding: 1em;
}


.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background-color: var(--green-1);
  
}


.footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
  
}

.footer h1{
  padding: 1em;
}

.fa{
  color: #ffffff;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.fa:hover{
  color: var(--green-2);
}

.footer h1{
  color: var(--light);
  font-size: var(--most-used-em);
}

.footer p{
  color: var(--light);
}

.footer a{
  text-decoration: none;
  color: var(--light);
}

.footer a:hover{
  color: var(--green-2);
}

.formster{
  display: none;
  height: 30em;
}

@media (max-width: 768px){
  .formster{
      height: 45em;
      width: max-content;

}
}
 /* When you'll start formster add button that opens volunteering form in new tab ONLY ON MOBILE */


